<div class="container-fluid">
  <nav *ngIf="usuarioLogado" class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a href="#" class="navbar-brand nav-link">
      <i class="fa fa-user-edit"></i>
    </a>
    <div class="navbar-collapse collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Item 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Item 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Item 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Item 4</a>
        </li>
        <li class="nav-item d-flex ml-auto" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Perfil</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a href="#" ngbDropdownItem (click)="$event.preventDefault()">Editar</a>
            <a ngbDropdownItem (click)="logout()">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <div class="text-white mb-3 mb-md-0">
      Everton Silva © 2022.
    </div>
  </div>
</footer>
